<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">DNI</th>
        <th scope="col">PrecioReal</th>
        <th scope="col">Tipo Espectador</th>
        <th scope="col">Fecha de Cobro</th>
        <th scope="col">Precio Cobrado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of ticketArray">
        <th scope="row">1</th>
        <td>{{t.dni}}</td>
        <td>{{t.dni}}</td>
        <td>{{t.dni}}</td>
        <td>{{t.dni}}</td>
        <td>{{t.dni}}</td>
      </tr>
    </tbody>
  </table>